@font-face {
    font-family: Tajawal-light;
    src: url('/Fonts/Tajawal-Light.ttf');
}
@font-face {
    font-family: Tajawal-bold;
    src: url('/Fonts/Tajawal-Bold.ttf');
}
* {
    font-family: Tajawal-light;
}

body {
    background-color: #E8F1F2
}
/*log In page*/
.input-field {
    width: 100%;
    text-align: right;
    border: #88B3B9 solid 1px;
    padding: 12px 50px 12px 10px;
    font-size: 0.7rem;
}

.card-log-m {
    margin: 8% 5% 4.8% 5%;
}

.email-icon {
    width: 20px;
    margin: 15px 20px 10px;
}

.lock-icon {
    width: 16px;
    margin: 12px 20px 10px;
}

.logo-logIn {
    width: 60%;
}

.btn-color {
    background-color: #88B3B9;
    width: 100%;
    padding: 11px;
    font-size: 0.9rem;
}

    .btn-color:hover {
        background-color: darkcyan;
    }

.btn-m-logIn {
    margin-top: 33px;
}

.forget-pass-lable {
    font-size: 0.7rem;
}

.forget-pass-link {
    float: right;
}

.q-lable {
    font-size: 1rem;
}

.log-link, .log-link-reg {
    color: gray;
}
.log-link-reg {
    font-family: Tajawal-bold;
}
.log-link:hover, .log-link-reg:hover {
    color: darkcyan;
}
.rounded-4 {
    border-radius: 10px;
}

.rounded-10-start {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bg-Start-card {
    background-color: #D9D9D9;
    opacity: 0.24;
}

.card-img {
    width: 50%;
    margin: 15% 10%;
}

.employee-img-log-card {
    width: 15%;
    margin: 5.2% 70% 0% 0%;
}

.bg-gray {
    background-color: #d9d9d949;
    height: 100%;
    width: 100%;
}

.imgs-div {
    height: 100%;
}

.mt-lg-10 {
    margin-top: 90px;
}
/*mobile*/
.icon-img {
    width: 74%;
    margin: 0% 12%
}
/*register*/
.btn-register {
    width: 50%;
}

.logo-register {
    width: 25%;
}

.person-icon {
    width: 18px;
    margin: 13px 20px 10px;
}

.mobile-icon {
    width: 15px;
    margin: 10px 20px 10px;
}

.dropdown-icon {
    width: 20px;
    margin: 10px;
}

.left-option-icon {
    margin-right: 190px;
}

.dropdown-toggle::after {
    content: none;
}

input, select:focus {
    outline: none !important;
}

.Building-icon {
    width: 20px;
    margin: 10px 20px 10px;
}

.card-img-registration {
    width: 99%;
    height: 50%;
}

.boy-img-reg-card {
    width: 30%;
    margin: 25% 10% 0% 0%;
}

.girl-img-reg-card {
    width: 40%;
    margin: 9% 56% 0% 0%;
}

@media only screen and (max-width:1200px) {
    .card-img {
        width: 65%;
        margin: 28% 17%;
    }

    .logo-register {
        width: 50%;
    }

    .card-log-m {
        margin: 4.8% 10% 4.0% 10%;
    }
}

@media only screen and (max-width:992px) {
    .card-img {
        width: 75%;
        margin: 38% 12%;
    }

    .logo-register {
        width: 40%;
    }

    .card-img-registration {
        width: 99%;
        height: 25%;
    }

    .boy-img-reg-card {
        margin: 77% 10% 0% 0%;
    }

    .girl-img-reg-card {
        margin: 45% 50% 0% 0%;
    }
}

@media only screen and (max-width:768px) {
    .card-img {
        width: 74%;
        margin: 50% 12%
    }

    .logo-register {
        width: 60%;
    }

    .card-log-m {
        margin: 10% 10% 10% 10%;
    }
}
