<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings>
		<add key="BuildingManagerLocalhost" value="https://localhost:44307/api/BuildingManager/" />
		<add key="BuildingManagerIP" value="http://10.6.8.91:44307/api/BuildingManager/" />
		<add key="MaintenanceManagerLocalhost" value="https://localhost:44307/api/MaintenanceManager/" />
		<add key="MaintenanceManagerIP" value="http://10.6.8.91:44307/api/MaintenanceManager/" />
		<add key="MaintenanceWorkerLocalhost" value="https://localhost:44307/api/MaintenanceWorker/" />
		<add key="MaintenanceWorkerIP" value="http://10.6.8.91:44307/api/MaintenanceWorker/" />
		<add key="SystemAdminLocalhost" value="https://localhost:44307/api/SystemAdmin/" />
		<add key="SystemAdminIP" value="http://10.6.8.91:44307/api/SystemAdmin/" />
		<add key="BackOfficeEntryLocalhost" value="https://localhost:44307/api/BackOfficeEntry/" />
		<add key="BackOfficeEntryIP" value="http://10.6.8.91:44307/api/BackOfficeEntry/" />
	</appSettings>

</configuration>