<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings>
		<!--Building Manager-->
		<add key="BuildingManagerLocalhost" value="https://localhost:44307/api/BuildingManagerAPI/" />
		<add key="BuildingManagerIP" value="http://10.6.8.91:44307/api/BuildingManagerAPI/" />
		<!--Maintenance Manager-->
		<add key="MaintenanceManagerLocalhost" value="https://localhost:44307/api/MaintenanceManager/" />
		<add key="MaintenanceManagerIP" value="http://10.6.8.91:44307/api/MaintenanceManager/" />
		<!--Maintenance Worker-->
		<add key="MaintenanceWorkerLocalhost" value="https://localhost:44307/api/MaintenanceWorker/" />
		<add key="MaintenanceWorkerIP" value="http://10.6.8.91:44307/api/MaintenanceWorker/" />
		<!--System Admin-->
		<add key="SystemAdminLocalhost" value="https://localhost:44307/api/SystemAdmin/" />
		<add key="SystemAdminIP" value="http://10.6.8.91:44307/api/SystemAdmin/" />
		<!--Back Office Entry-->
		<add key="BackOfficeEntryLocalhost" value="https://localhost:44307/api/BackOfficeEntry/" />
		<add key="BackOfficeEntryIP" value="http://10.6.8.91:44307/api/BackOfficeEntry/" />
		<!--System User-->
		<add key="SystemUserLocalhost" value="https://localhost:44307/api/SystemUser/"/>
		<add key="SystemUserIP" value="http://10.6.8.91:44307/api/SystemUser/"/>
	</appSettings>

</configuration>