<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackOfficePortal</title>
    <link rel="stylesheet" href="~/js/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @using BackOfficePortal.ModelsLanguage;
    @inject LanguageService language

    <header>
        <ul class="language ">
            <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"> English</a></li>
            <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ar-SA" class="nav-link"> Arabic</a></li>
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BackOfficePortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @section Scripts2 {
        <script src="~/js/BuildingManager/bundle.min.js"></script>
        <script src="~/js/BuildingManager/edit-building.bundle.min.js"></script>
        <script src="~/js/BuildingManager/view-tickets.bundle.min.js"></script>
        <script src="~/js/BuildingManager/view-building.bundle.min.js"></script>
        <script src="~/js/BuildingManager/view-status.bundle.min.js"></script>
        <script src="~/js/MaintenanceManager/bundle.min.js"></script>
        <script src="~/js/MaintenanceWorker/bundle.min.js"></script>
        <script src="~/js/SaveFile.bundle.min.js"></script>
        <script src="~/js/updateUser.bundle.min.js"></script>
    }
    @RenderSection("Scripts2", required: false)

</body>
</html>
