<h1> View Worker </h1>
@section Scripts2{
    <script src="~/js/MaintenanceManager/bundle.min.js"></script>
    <body>

        <button type="button" id="btnView" name="btnView" data-name="ViewButton" onclick="ViewWorker()"> View Worker </button>

        <label id="Id" name="Id">  </label>
        <label id="Name" name="Name">  </label>
        <label id="Phone" name="Phone">  </label>
        <label id="Email" name="Email">  </label>
      



    </body>

}
