<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/js/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <ul class="language">

            <li><a asp-controller="Beneficiary" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"> English</a></li>

            <li><a asp-controller="Beneficiary" asp-action="ChangeLanguage" asp-route-culture="ar-SA" class="nav-link"> Arabic</a></li>


        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @section Scripts2 {
        <script src="~/js/Beneficiary/updateUser.bundle.min.js"></script>
        <script src="~/js/Beneficiary/signup.bundle.min.js"></script>
        <script src="~/js/Beneficiary/sendEmail.bundle.min.js"></script>
        <script src="~/js/Beneficiary/resetPassword.bundle.min.js"></script>
    }
    @RenderSection("Scripts2", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
