<h1> View Ticket </h1>
@section Scripts2{
    <script src="~/js/MaintenanceWorker/bundle.min.js"></script>
    <body>

        <button type="button" id="btnView" name="btnView" data-name="ViewButton" onclick="ViewTicket()"> View Tickets </button>

        <label id="TicketId" name="TicketId">  </label>
        <label id="BuildingManagerComment" name="BuildingManagerComment">  </label>
        <label id="BeneficiaryID" name="BeneficiaryID">  </label>
        <label id="Status" name="Status">  </label>
        <label id="Date" name="Date">  </label>
        <label id="Description" name="Description">  </label>



    </body>

}
