<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings>
		<!--Beneficiary-->
		<add key="BeneficiaryLocalhost" value="https://localhost:44307/api/Beneficiary/" />
		<add key="BeneficiaryIP" value="http://10.6.7.146:44307/api/Beneficiary/" />
		<!--Beneficiary Entry-->
		<add key="BeneficiaryEntryLocalhost" value="https://localhost:44307/api/BeneficiaryEntry/" />
		<add key="BeneficiaryEntryIP" value="http://10.6.7.146:44307/api/BeneficiaryEntry/" />
		<!--System User-->
		<add key="SystemUserLocalhost" value="https://localhost:44307/api/SystemUser/" />
		<add key="SystemUserIP" value="http://10.6.7.146:44307/api/SystemUser/" />
	</appSettings>

</configuration>