<h1> Add Comments </h1>
@section Scripts2{
    <script src="~/js/BuildingManager/bundle.min.js"></script>
    <body>
        <label>Ticket ID to add comments:</label>
        <input type="number" id="updateId" name="updateId" placeholder="Id" />


        <label>comments:</label>
        <input type="text" id="comments" name="comments" placeholder="comments" />



        <button type="button" id="btnUpdate" name="btnUpdate" data-name="UpdateButton" onclick="AddComments()"> Add Comments </button>
    </body>


   
}