<h1> Edit Building </h1>
@section Scripts2{
    <script src="~/js/BuildingManager/edit-building.bundle.min.js"></script>
    <body>
        <label>Update floors:</label>
        <input type="text" id="updatefloor" name="updatefloor" placeholder="updatefloor" />


        <label>Owned:</label>
        <select name="Owned" id="Owned">
            <option value="Owned">Owned</option>
            <option value="Rented">Rented</option>
        </select>

        <button type="button" id="btnUpdate" name="btnUpdate" data-name="UpdateButton"> Edit Building </button>
    </body>

  
}