<h1> View Tickets </h1>
@section Scripts2{
    <script src="~/js/BuildingManager/view-tickets.bundle.min.js"></script>
    <body>
        

        <button type="button" id="btnView" name="btnView" data-name="ViewButton" onclick="ViewTickets()"> View Tickets </button>

        <label id="Tickets"> Tickets </label>
        <div id="TicketsList"> </div>

    </body>

}
